.App {
  text-align: center;
}
#textinput{
  padding:2px;
  margin:5px;
  border:2px solid green;
  box-sizing: border-box;
}
button{
  color:red;
  background-color: #61dafb;
  margin: 5px;
  width: 100px;
  height: 20px;
}
.Addtask{
  background-color: aliceblue;
  text-align: center;
  margin:20px;
}

